body{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display:flex;
    flex-direction: row;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: start;
    height: 100px;
    background-color: black;
    width: 100%;
    align-items: center;
    top: 0;
    right: 0;
}
#header-img{
    width: auto;
    height: 100px;
    padding-right: auto;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
}
#video-div{
    width: 99%;
    height: auto;
    margin-top: 110px;
}
video {
    width: 99%;
    height: auto;
}
h3{
    text-align: center;
    margin-top: 3px;
}
#form-container{
    text-align: center;
}
@media only screen and (max-width: 600px)
    {#header{flex-wrap: wrap-reverse;} }
    #ER-footer{
        background-color: ivory;
        margin: 5%;
        padding-top: 1%;
        padding-bottom: 4%;
    }
    #ER-footer-header{
        padding-left: 3%;
    }
    #ER-footer-div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .ER-footer-link{
        font-size: .67em;
        
    }
    @media only screen and (max-width: 600px){
        #ER-footer-div{
            flex-direction: column;
        }
    }