#main {
 ;
}
#img-div{ grid-area: header; }
.item2 { grid-area: menu; }
#title { grid-area: main; }
#tribute-info { grid-area: right; }
.item5 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header right right'
      'header header header header right right'
      'header header header header main main'
      'header header header header main main'
      'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: 85em
}
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px 0;
    font-size: 30px;
  }
#image{
    display: block;
    max-width: 99%;
    height: auto;
    align-self: center;
    position: relative;
}
#img-caption{
    font-size: 11px;
}
#ER-footer{
  background-color: ivory;
  margin: 5%;
  padding-top: 1%;
  padding-bottom: 4%;
}
#ER-footer-header{
  padding-left: 3%;
}
#ER-footer-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ER-footer-link{
  font-size: .67em;
  
}
@media only screen and (max-width: 600px){
  #ER-footer-div{
      flex-direction: column;
  }
}
/* Start Button With Modal Component  */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 20px;
    border: 1.5px solid #5a5d70;
    background-color: #bcc4f0;
    color: #5a5d70;
    height: 30px;
    width: 30px;
    font-size: xx-small;
}
/* End Button With Modal Component  */