    /* default section */
    body {
        background-color: #F5F5F5;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5% 50px 0px 50px;
        margin: 0 0 0 0;
        justify-content: center;
    }
    main {
        height: 80%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 5px;
        
    }
    nav {
        display: flex;
        justify-content: space-between;
        margin: 5% 5% 0% 5%;
    }
    header{
        font-weight: 1000;
        text-align: center;
        color: #4f2d77;
        line-height: 14px;
        transform: scale(1, 1);
    }
    a {
        text-decoration: none;
        color: black;
        padding-left: 3px;
        padding-right: 3px;
        color: #4f2d77;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 15vh;
        align-items: center;
    }
    h2 {
        color: #4f2d77;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    h3 {
        transform: scale(1, 0);
        padding-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: #4f2d77;
        overflow: hidden;
        height: 0;
        offset-position: -1;
        font-size: smaller;
    }
    img {
        width: 30px;
        height: 30px;
    }
   /* class section*/

    /* ID section*/
    #center-text {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    #nav-link {
        display: flex;
        align-items: center;
    }

    /* resposive section*/

    @media only screen and (max-width: 600px) {
        body {
            padding:0;
        }
        main {
            width: 100vw;
            height: 100vh;
        }
    }
    @media only screen and (max-width: 300px) {
        body {
            padding:0;
        }
        main {
            width: 100vw;
            height: 100vh;
        }
        nav {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding-right: 10%;
        }
        section {
            margin: 5%;
        }
    }
    /* animation section*/
    @keyframes subtext {
        0%   {transform: scale(1, 1);
            height: 0;
        }
        100% {
            transform: scale(1, 1);
            height: 14px;
        }
    }
    #animation-h2-0:hover + #animation-h3-0 {
        animation-name: subtext;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    #animation-h2-1:hover + #animation-h3-1 {
        animation-name: subtext;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    #animation-h2-2:hover + #animation-h3-2 {
        animation-name: subtext;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    #animation-h2-3:hover + #animation-h3-3 {
        animation-name: subtext;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }